#canvas {
	background-color: #CCCCCC;
	margin: auto;
	height: auto;
	width: 1000px;
}
#sider {
	float:left;
	background-color: #FFFFFF;
	height: 900px;
	width: 300px;
	padding: 0px;
	margin: 0px;
}
#navi {
	height: 900px;
	width: 180px;
	background-color: #FFFFFF;
	color: #D4D0C8;
	margin: auto;
	float: left;
}
#buttons {
	float: left;
	height: 720px;
	width: 180px;
	background-color: #FF9933;
	padding: 0px;
}
#banner {
	background-color: #D4D0C8;
	background-image: url(/gikoo_static/picture/side_banner.JPG);
	float: left;
	height: 900px;
	width: 120px;
}


#main {
	float:right;
	background-color: #FFFFFF;
	height: 900px;
	width: 700px;
	margin-top: 0px;
}
#logo {
	background-color: #FFFFFF;
	float: left;
	height: 180px;
	width: 180px;
	background-image: url(/gikoo_static/picture/logo_179x179.jpg);
}


body {
	margin: 0px;
}
#info {
	background-color: #DDDDDD;
	height: 850px;
	width: 699px;
	float: left;
}
.info_1 {
	height: 250px;
	width: 700px;
	margin-top: 0px;
	margin-bottom: 25px;
}

.button1 {
	margin: auto;
	float: none;
	height: auto;
	width: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
}

#footer {
	padding: 0px;
	float: left;
	height: 50px;
	width: 700px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #FF9933;
}
.f_item {
	float: right;
	height: 20px;
	width: 80px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-family: "������";
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	color: #666666;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}


.item_div_class{
	float: right;
	background-color: #FF9900;
	height: 250px;
	width: 200px;
	margin-left: 25px;
	margin-bottom: 25px;
	float: left;
	font-family: "������";
	font-size: 24px;
#	font-weight: bold;
	font-style: italic;
	vertical-align: middle;
}